<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - Deepfake Detector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="top-color-bar">
        <h1 class="lobster-regular"><a href="upload.html">Deepfake Detector.</a></h1>
    </div>
    
    <div class="sidenav">
        <a href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <a href="{{ url_for('terms') }}"><i class="fas fa-file-contract"></i> Terms of Service</a>
        <a href="{{ url_for('privacy') }}"><i class="fas fa-shield-alt"></i> Privacy Policy</a>
    </div>


    <div class="header">
        <h1 class="lobster-regular"><a href="upload.html">Deepfake Detector.</a></h1>
    </div>

    <div class="main-container">
        <h1>Thank You for Your Message!</h1>
        <div class="content">
            <p>Thank you for your message! Please be patient until we reach you back. It will take 2-3 business days.</p>
        </div>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>